body{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    max-width: 1000px;
    display: flex;
    align-items: flex-start;
    font-size: 12pt;
    background-size: contain;
    background-size: cover;
    background-size: 80%;
    background-blend-mode: multiply;
    background-color: #30c8f759;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

#left_side{
    flex: 1 1 600px;
    padding: 1em;
    line-height: 1.5em;
}

#right_side{
    border-left: black solid 1px;
    flex: 1 10 600px;
    padding: 1em;
    line-height: 1.5em;
}

h1,
h2{
    text-align: center;
}
h2{
    position: relative; top: 15px;
    border-bottom: black solid 1px;
}
#title{
    text-align: center;
    font-size: 24px;
}
p{
    margin-top: 0px;
    margin-bottom: .5em;
}

